<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>traineemanagementapp</display-name>

  <servlet>
    <servlet-name>traineecontroller</servlet-name>
    <servlet-class>com.traineeapp.controller.TraineeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>traineecontroller</servlet-name>
    <url-pattern>/traineecontroller.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.traineeapp.listeners.DbDriverListner</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.traineeapp.controller.LoginController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
      <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.traineeapp.controller.LogoutController</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.traineeapp.filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoggingFilter</display-name>
    <filter-name>LoggingFilter</filter-name>
    <filter-class>com.traineeapp.filter.LoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoggingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.traineeapp.listeners.SessionCounterListner</listener-class>
  </listener>
</web-app>